{% extends 'core/base.html' %}

{% block title %}Financial Institution Detail - National Bank{% endblock %}

{% block content %}

<div class="container py-4">
	<h1>{{ institution.name }}</h1>
	<p><strong>Type:</strong> {{ institution.get_institution_type_display }}</p>
	<p><strong>License Number:</strong> {{ institution.license_number }}</p>
	<p><strong>Established Date:</strong> {{ institution.established_date }}</p>
	<p><strong>Head Office Address:</strong> {{ institution.head_office_address }}</p>
	<p><strong>Phone Number:</strong> {{ institution.contact_phone }}</p>
	<p><strong>Email:</strong> {{ institution.contact_email }}</p>
	<p><strong>Website:</strong> <a href="{{ institution.website }}" target="_blank" rel="noopener noreferrer">{{ institution.website }}</a></p>
	<p><strong>capital:</strong> {{ institution.capital_amount }}</p>
	<p><strong>status:</strong> {{ institution.status }}</p>
</div>

{% endblock %}